 


  body{
    	background: #393838;
    }

    .container{
    	text-align:center;
    }

	p{
		margin-bottom: 0px;
		margin-top: 0px;
	}

	.slot-machine{
		width: 50%;
	    margin: auto;
	    border: 8px solid red;
	    margin-top: 20px;
	}
	
	.radio{
		margin-top: 20px;
		color: white;
	}

	#message{
		color: white;
		font-size: x-large; font-weight: bold;
		display: block;
		margin-top: 20px;
	}

	.spin-button{
		margin-top: 20px;
	}

	.info-credit{
		color: white;
		font-size: 16px;
		margin-top: 25px;
	}